<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/e89e0344-857e-4c08-aa0f-2e7a58bc9cb3/resourceGroups/DefaultResourceGroup-SCUS/providers/Microsoft.ApiManagement/service/VampiAPI/apis/VampiAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/e89e0344-857e-4c08-aa0f-2e7a58bc9cb3/resourceGroups/VampiProyecto/providers/Microsoft.Web/sites/webapidrivervampi</ResourceId>
    <ResourceGroup>VampiProyecto</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webapidrivervampi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>025d0fdc-31a1-4728-943f-db2ac592dffb</ProjectGuid>
    <PublishUrl>https://webapidrivervampi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapidrivervampi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>